<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery a {float: left; display: block; margin: 0 0 1% 1%; width: 19%; text-align: center; text-decoration: none!important;}
    .image-gallery a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery a img {width: 100%; display: block;}
  </style>
  
  <div class="image-gallery">
    
    {% assign children_pages = site.pages | where: 'parent', page.title %}

    {% assign links_pages = "" | split: "," %}
    {% for entry in site.data.markdown_links.file[page.path] %}
        {% assign captured_page = site.pages | where: 'path', entry.url %}
        {% assign links_pages = links_pages | push: captured_page[0] | uniq %}
    {% endfor %}
    
    {% assign all_references = children_pages | push: links_pages | uniq | sort: 'nav_order' %}

    {% for my_page in all_references %}

      {% assign filenameparts = file.path | split: "/" %}
      {% assign filename = filenameparts | last | replace: file.extname,"" %}

      <a href="{{ site.url }}{{ my_page.url }}" title="{{ my_page.title }}">
        <img src="//wsrv.nl/?url={{ my_page.image }}&w=300&h=300&output=jpg&q=50&t=square" alt="{{ my_page.title }}" />
        <span>{{ filename }}</span>
      </a>
    
    {% endfor %}

  </div>
